VCC_DVS_FAST_REG
ID1_REG
ID2_REG
PLT_REG
NVMREL_REG
CUSTVER_REG
PROVER_REG
EXTRAVER_REG
LVL0_IRQ_REG
LVL1_PMIC_IRQ_REG
LVL2_INPUT_IRQ_REG
LVL2_TMU_IRQ_REG
LVL2_USBCTRL_IRQ_REG
LVL2_USBPD_IRQ_REG
LVL2_BAT_IRQ_REG
LVL2_BCU_IRQ0_REG
LVL2_BCU_IRQ1_REG
LVL2_CHGCTRL_IRQ_REG
LVL2_PSTAR_IRQ0_REG
LVL2_PSTAR_IRQ1_REG
LVL1_MULT_IRQ_REG
LVL2_GPADC_IRQ0_REG
LVL2_GPADC_IRQ1_REG
LVL2_CC_IRQ_REG
LVL2_THERM_IRQ0_REG
LVL2_THERM_IRQ1_REG
LVL2_THERM_IRQ2_REG
LVL2_THERM_IRQ3_REG
LVL2_GPIO_IRQ0_REG
LVL2_GPIO_IRQ1_REG
LVL2_AUDFE_IRQ0_REG
LVL2_AUDFE_IRQ1_REG
LVL2_AUDFE_IRQ2_REG
LVL1_DEBUG_IRQ0_REG
LVL2_VROC_IRQ0_REG
LVL2_VROC_IRQ2_REG  
LVL2_VROC_IRQ3_REG
LVL2_VRMON_IRQ0_REG
LVL2_VRMON_IRQ1_REG
LVL2_VRMON_IRQ2_REG
LVL2_VRMON_IRQ3_REG
LVL2_VRMON_IRQ4_REG
LVL2_REGACC_IRQ_REG
MLVL0_IRQ_REG
MLVL1_PMIC_IRQ_REG  
MLVL2_INPUT_IRQ_REG
MLVL2_TMU_IRQ_REG
MLVL2_USBCTRL_IRQ_REG   
MLVL2_USBPD_IRQ_REG
MLVL2_BAT_IRQ_REG
MLVL2_BCU_IRQ0_REG
MLVL2_BCU_IRQ1_REG 
MLVL2_CHGCTRL_IRQ_REG
MLVL2_PSTAR_IRQ0_REG
MLVL2_PSTAR_IRQ1_REG 
MLVL1_MULT_IRQ_REG
MLVL2_GPADC_IRQ0_REG
MLVL2_GPADC_IRQ1_REG
MLVL2_CC_IRQ_REG
MLVL2_THERM_IRQ0_REG
MLVL2_THERM_IRQ1_REG
MLVL2_THERM_IRQ2_REG
MLVL2_THERM_IRQ3_REG
MLVL2_GPIO_IRQ0_REG
MLVL2_GPIO_IRQ1_REG
MLVL2_AUDFE_IRQ0_REG
MLVL2_AUDFE_IRQ1_REG
MLVL2_AUDFE_IRQ2_REG
MLVL1_DEBUG_IRQ0_REG
MLVL1_DEBUG_IRQ1_REG
MLVL2_VROC_IRQ0_REG
MLVL2_VROC_IRQ2_REG
MLVL2_VROC_IRQ3_REG
MLVL2_VRMON_IRQ0_REG
MLVL2_VRMON_IRQ1_REG
MLVL2_VRMON_IRQ2_REG
MLVL2_VRMON_IRQ3_REG
MLVL2_VRMON_IRQ4_REG
MLVL2_REGACC_IRQ_REG
CHIPCTRL_REG
STDBYCTRL_REG
PSEQCTRL_REG
SRCSTATUS_REG
PWRUP_STATUS_REG
PBCONFIG1_REG
PBCONFIG2_REG
PBCLR_REG
PBFSTATUS_REG
PWRGDCTLO_REG
SRC_DET_STATUS_REG
VBUS_DET_OSC_PREV_CNT_REG
VDC_DET_OSC_PREV_CNT_REG
VBUS_DET_OSC_PREV_THR_REG
VDC_DET_OSC_PREV_THR_REG
OSC_PREV_CNT_RST_REG
SRC_OV_THR_REG
VBUS_DET_CTRL_REG
VBUS_DET_THR_REG
VBUS_ATT_THR_REG
VDC_DET_CTRL_REG
VBUS_UV_THR_REG
VDC_DET_THR_REG
VDC_ATT_THR_REG
VDC_UV_THR_REG
SRC_SEL_CTRL_REG
USBCCTRL1_REG
USBCCTRL2_REG
USBCCTRL3_REG
CC1CTRL_REG
CC2CTRL_REG
CCSEL_REG
USBCSTATUS1_REG
USBCSTATUS2_REG
USBCSTATUS3_REG
CC1CMP_REG
CC2CMP_REG
CC1STATUS_REG
CC2STATUS_REG
AFE_ADC1_REG
PDCFG1_REG
PDCFG2_REG
PDCFG3_REG
PDSTATUS_REG
RXSTATUS_REG
RXINFO_REG
TXCMD_REG
TXINFO_REG
RECEIVE_DATA_RANGE
TRANSMIT_DATA_RANGE
USB_CTRL0_REG
USB_CTRL1_REG
USB_STATUS0_REG
USBBC_CTRL0_REG
USBBC_CTRL1_REG
USBBC_DBP0_REG
USBBC_DBP1_REG
USBBC_STATUS0_REG
USBBC_STATUS1_REG
USBBC_STATUS2_REG
GPADC_REQ0_REG
GPADC_REQ1_REG
GPADC_STATUS_REG
VBAT_RSLTH_REG
VBAT_RSLTL_REG
BATID_RSLTH_REG
BATID_RSLTL_REG
SYS0TEMP_RSLTH_REG
SYS0TEMP_RSLTL_REG
SYS1TEMP_RSLTH_REG
SYS1TEMP_RSLTL_REG
PMICTEMP_RSLTH_REG
PMICTEMP_RSLTL_REG
BATTEMP_RSLTH_REG
BATTEMP_RSLTL_REG
USBID_RSLTH_REG
USBID_RSLTL_REG
ACD_RSLTH_REG
ACD_RSLTL_REG
VBUS_RSLTH_REG
VBUS_RSLTL_REG
VDC_RSLTH_REG
VDC_RSLTL_REG
ANAMON0_RSLTH_REG
ANAMON0_RSLTL_REG
ANAMON1_RSLTH_REG
ANAMON1_RSLTL_REG
ANAMON2_RSLTH_REG
ANAMON2_RSLTL_REG
GPMEAS_RSLTH_REG
GPMEAS_RSLTL_REG
PMICALERT0H_REG
PMICALERT0L_REG
PMICALERT3H_REG
PMICALERT3L_REG
PMICCRITH_REG
PMICCRITL_REG
SYS0ALERT0H_REG
SYS0ALERT0L_REG
SYS0ALERT1H_REG
SYS0ALERT1L_REG
SYS0ALERT3H_REG
SYS0ALERT3L_REG
SYS0CRITH_REG
SYS0CRITL_REG
SYS1ALERT0H_REG
SYS1ALERT0L_REG
SYS1ALERT1H_REG
SYS1ALERT1L_REG
SYS1ALERT3H_REG
SYS1ALERT3L_REG
SYS1CRITH_REG
SYS1CRITL_REG
SYS2ALERT0H_REG
SYS2ALERT0L_REG
SYS2ALERT1H_REG
SYS2ALERT1L_REG
SYS2ALERT3H_REG
SYS2ALERT3L_REG
SYS2CRITH_REG
SYS2CRITL_REG
BAT0ALERT0H_REG
BAT0ALERT0L_REG
BAT0ALERT3H_REG
BAT0ALERT3L_REG
BAT0CRITH_REG
BAT0CRITL_REG
BAT1ALERT0H_REG
BAT1ALERT0L_REG
BAT1ALERT3H_REG
BAT1ALERT3L_REG
BAT1CRITH_REG
BAT1CRITL_REG
GPMEASALERTH_REG
GPMEASALERTL_REG
THERMCRITSEN_REG
THERMALERT3PEN_REG
THERM_STATUS0_REG
THERM_STATUS1_REG
THERM_STATUS2_REG
THERM_STATUS3_REG
SLPCLKCFG_REG
